[Unit]
Description=Run LLDP Neighbor every 1 minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=lldpsyslog.service
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
